# Entornos virtuales y herramientas de Python
.venv/
.uv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de datos (Tus audios)
# Esto asegura que los audios de entrada y salida no se suban por error
*.opus
*.mp3
audios_entrada/
audios_salida/

# Sistema operativo
.DS_Store
Thumbs.db